
/*font-family: 'Montserrat', sans-serif;*/

.wrap {
    width:  1200px;
    border:1px solid #80808052;
    margin:  auto;
    font-family: 'Montserrat', sans-serif;
}
.part1 .hey, .part2 .left, .part3 .cube1 {
    background-color: rgba(255,209,40,0.9)
}


/*PART 1*/
.part1 {
    height: 310px;
}

.part1 .hey,.part2 .left {
    width:  335px;
    height: 100%;
    margin-left:  90px;
    color:  white;
    float:  left;
    display:  inline-block;
    text-align: center;
}

.hey .big {
    font-size: 90px;
    font-weight: 800;
    margin-top: 75px;
}

.hey .small {
    margin-top: -14px;
    font-size: 25px;
    font-weight: 300;
}
.part1 .award {
    width: 685px;
    height:  100%;
    float: left;
    display:  inline-block;
    font-size: 33px;
    font-weight: 800;
    text-align:  right;
    color: #fbcc4b;
}
.award .text1 {margin-top: 105px;margin-right: 40px;}

.award .text2 {
    margin-right: 30px;
}
.small-square {
    width: 90px;
    height:  90px;
    display: inline-block;
    margin-top: 100px;
    background: rgba(255,209,40,0.8);
}

/*PART 2*/
.part2 {
    height:  505px;
    background: #151d27;
}

.part2 .left .small-rectangle, .cube1 .small-rectangle {
    width: 65px;
    height:  20px;
    background:  white;
    margin-top: 270px;
    margin-left: 55px;
}

.part2 .left .text {
    margin-left:  55px;
    margin-top: 20px;
    text-align:  left;
    width: 220px;
    letter-spacing: 1px;
}
.part2 .long-rectangle {
    width: 385px;
    height:  20px;
    float:  right;
    display:  block;
    background: #b6c0c0;
}

.part2 .right {
    width: 685px;
    height:  485px;
    display:  inline-block;
    float: left;
    text-align:  right;
    color:  white;
}

.part2 .right .text1 {
    font-size: 46px;
    /* margin-top: 50px; */
    font-weight: 400;
}

.part2 .right .text3 {
    font-size: 46px;
}

.part2 .right .text2 {
    font-size: 85px;
    font-weight:  800;
    color: #fbcc4b;
}

.part2 .right .text4 {
    float:  right;
    width: 600px;
    margin-top: 30px;
    letter-spacing: 1px;
}

/*part3*/
.part3 {
    height:  880px;
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: -45px -75px;
}

.part3 .cube1 {
    display: inline-block;
    width:  335px;
    height:  400px;
    margin-left:  90px;
    color: white;
    float:  left;
}

.part3 .cube1 .small-rectangle {
    margin-top: 120px;
}

.cube1 .text {
    font-size: 33px;
    font-weight: 700;
    float:  left;
    width: 250px;
    margin-top: 50px;
    line-height: 40px;
}
.part3 .cube2 {
    right: 90px;
    width: 685px;
    float: left;
    text-align:  right;
    color:  white;
}

.part3 .cube3-contact {
    position:  absolute;
    bottom:  0;
    width:  425px;
    float:  left;
    height:  480px;
    background-color: #151d27;
}

.part3 .cube4-logo {
    position:  absolute;
    bottom: 0;
    left: 425px;
    width:  775px;
    height: 190px;
    background-color: #31748e;
}

.cube2 .text1 {
    font-weight:  800;
}
.wrap-part3 {
    position:  relative;
    height:  880px;
    width:  100%;
}
.cube2 .small-rectangle {
    width:  20px;
    height:  65px;
    background:  white;
    margin-top: 50px;
    float: right;
    display:  block;
}

.cube2 .text2 {
    font-weight: 800;
    margin-top: 155px;
}

.content {
    width: 500px;
    float:  right;
    font-weight: 700;
    margin-top: 10px;
}

.cube2 .text4 {
    color: #242a31;
    margin-top: 20px;
}

.cube3-contact {
    color:  white;
}
.cube3-contact img {
    width: 30px;
    height:  30px;
}

.contact {
    margin-top: 50px;
    font-size: 18px;
}

.cube3-contact .website {
    margin-top: 60px;
    font-weight: 700;
    font-size: 20px;
    color: #dcb82b;
}
.cube3-contact img {
    margin-right: 30px;
}
.cube4-logo img {
    width: 535px;
    margin-left: 120px;
    margin-top: 60px;
}
.part3 .small-wrapper {
    width:  775px;
    height:  880px;
    float: right;
    background: rgba(77,203,245,0.5);
}
.part3 .small-wrapper1 {
    width:  425px;
}

.part3 .cube3-contact .wrap-contact {
    width: 300px;
    margin-left: 90px;
    margin-top:  100px;
}
.part3 .header {
    font-size: 85px;
    margin-top: 60px;
}
.part2 .header {
    margin-top: 50px;
    font-size:  46px;
}